<div id="c-<%= type.model_name.plural %>">
  <div id="a-index">
    <%= render "user_votes/search", type: type %>
    <table class="striped" id='votes'>
      <thead>
      <tr>
        <th>ID</th>
        <th><%= type.model_type.capitalize %></th>
        <th>Score</th>
        <th><%= type.model_type.capitalize %> Creator</th>
        <th>Voter</th>
        <% if CurrentUser.is_admin? %>
          <th>Email</th>
        <% end %>
        <th>Signed Up</th>
        <th>Vote</th>
        <th>Created</th>
        <% if CurrentUser.is_admin? %>
          <th>IP</th>
        <% end %>
      </tr>
      </thead>
      <tbody>
      <%# posts = Post.where(id: @post_votes.pluck(:post_id).uniq) %>
      <%= render partial: "user_votes/partials/show/vote_row", collection: @post_votes, as: :vote, locals: { type: type } %>
      </tbody>
    </table>
    <br/>
    <%= render partial: "user_votes/partials/show/actions", locals: { type: type } %>
    <%= numbered_paginator(votes) %>
  </div>
</div>

<% content_for(:page_title) do %>
  <%= type.model_name.plural.titleize %>
<% end %>
